@tailwind base;
@tailwind components;
@tailwind utilities;

.rectangle {
  -webkit-clip-path: polygon(2% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(2% 0, 100% 0, 100% 100%, 0% 100%);
}

.rectangle2 {
  -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.rotate-herouville {
  transform: rotate(-1deg);
}
